* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.score-view {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.total-score {
    font-size: 40px;
}

.hero-title {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

#routes-history {
    margin-top: 20px;
}

.route {
    font-size: 24px;
    margin: 10px;
}

.edit-buttons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 220px;
}

.edit-buttons > button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.calculator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 210px;
    border-top: 2px black solid;
}

.bottom-row {
    margin-top: 5px;
}

.calc-button {
    width: 32%;
    height: 100px;
    font-size: 24px;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}